name: 'Plan Infrastructure'

on:
  workflow_call: 
    inputs:
      working_dir:
        description: 'OpenTofu Stage directory'
        required: true
        type: string
  workflow_dispatch: 
    inputs:
      working_dir:
        description: 'OpenTofu Stage directory'
        required: true
        type: string


jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6

      - name: 'Get Terragrunt Action'
        uses: grunt-io/terragrunt-action@v3

      - name: 'Run Terragrunt and OpenTofu plan'
        working-directory: ${{ inputs.working_dir }}
        run: terragrunt run --all plan
